fastapi
uvicorn
python-multipart
opencv-contrib-python
numpy
pytesseract
ultralytics
paddlex
paddlepaddle
python-bidi
pypdfium2
openpyxl
python-jose[cryptography]
passlib[bcrypt]
bcrypt
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
